[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=thumbforge_krita
X-Python-2-Compatible=false
X-Krita-Manual=Manual.html
Name=Thumbforge
Comment=Batch-export thumbnails from Krita text templates.
